.centrar {
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

#div-nombre {
    max-width: 400px;
}

#div-mildrett {
    margin-top: -40px;
}

#div-mildrett>img {
    margin: 0 auto;
    max-width: 300px;
}

#div-mensaje {
    max-width: 500px;
}

#div-mensaje>p {
    margin: auto;
    margin-top: 35px;
    font-family: 'Pacifico';
    font-size: 24px;
    color: white;
    text-align: center;
}

#bgvideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}