#inv {
    font-family: 'Pacifico';
    font-size: 24px;
    color: white;
    text-align: center;
}

.centrar {
    margin: 0 auto;
    max-width: 400px;
}

#inner-nombre {
    margin-top: 0px;
}

#mildrett {
    margin-top: -30px;
    max-width: 300px;
}

#inner-mildrett {
    display: flex;
    justify-content: center;
    margin: auto;
}

#mensaje {
    margin: 0 auto;
}

#inner-mensaje {
    max-width: 500px;
    margin-top: 30px;
}

#bgvideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}